.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.25rem 0.75rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #8f9397;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #8f9397;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff;
}

.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar > .container,
.navbar > .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    flex-wrap: nowrap;
  }
  .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    flex-wrap: nowrap;
  }
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    flex-wrap: nowrap;
  }
  .navbar-expand-xl .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
}

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .navbar-nav {
  flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: #8f9397;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #4cbd89;
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #4cbd89;
}

.navbar-light .navbar-toggler {
  color: #8f9397;
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-text {
  color: #8f9397;
}

.navbar-light .navbar-text a {
  color: #4cbd89;
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
  color: #4cbd89;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #4cbd89;
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #4cbd89;
}

.navbar-dark .navbar-toggler {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-text {
  color: #ffffff;
}

.navbar-dark .navbar-text a {
  color: #4cbd89;
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
  color: #4cbd89;
}

/*===============================
               PORTFOLIO 
=================================*/
.items-padding {
  margin: 10px;
}

.items-padding .portfolio-card {
  padding: 10px;
}

.items-padding-inside .portfolio-card {
  padding: 10px;
}

.items-2 .portfolio-card {
  width: 50%;
  float: left;
}

.items-3 .portfolio-card {
  width: 33.3333%;
  float: left;
}

.items-4 .portfolio-card {
  width: 25%;
  float: left;
}

.items-5 .portfolio-card {
  width: 20%;
  float: left;
}

.items-6 .portfolio-card {
  width: 16.6666%;
  float: left;
}

.items-2 .info-title, .items-3 .info-title {
  font-size: 1.3125rem;
}

.items-4 .info-title, .items-5 .info-title, .items-6 .info-title {
  font-size: 1.09375rem;
}

.portfolio-card {
  overflow: hidden;
  position: relative;
}

.portfolio-card .portfolio-card-body {
  overflow: hidden;
}

.portfolio-card .portfolio-card-body .portfolio-card-footer .info-title {
  margin-top: 20px;
  margin-bottom: 5px;
  color: #343a40;
  display: block;
}

.portfolio-card .portfolio-card-body .portfolio-card-footer .info-title a {
  color: #343a40;
}

.portfolio-card .portfolio-card-body .portfolio-card-footer .info-title a:hover {
  color: #4cbd89;
}

.portfolio-card .portfolio-card-body .portfolio-card-footer .full-screen {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ffffff;
  color: #343a40;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 44px;
  text-align: center;
}

.portfolio-card:hover .portfolio-card-body .portfolio-card-footer .full-screen {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.portfolio-card .portfolio-card-header {
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}

.portfolio-card .portfolio-card-header img {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.portfolio-card:hover .portfolio-card-header img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.portfolio-card .portfolio-card-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background: #343a40;
  z-index: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.portfolio-card:hover .portfolio-card-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .2;
  visibility: visible;
  background: #343a40;
}

/*Portfolio style 2*/
.portfolio-style-2 .portfolio-card .portfolio-card-footer {
  position: absolute;
  text-align: left;
  right: 30px;
  left: 30px;
  top: 0;
  bottom: 0px;
  line-height: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio-style-2 .portfolio-card a, .portfolio-style-2 .portfolio-card p {
  color: #ffffff;
}

.portfolio-style-2 .portfolio-card a:hover {
  color: #ffffff;
}

.portfolio-style-2 .portfolio-card .portfolio-card-footer .info-title a:hover {
  color: #ffffff;
}

.portfolio-style-2 .portfolio-card .portfolio-card-footer .full-screen {
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 0;
  cursor: pointer;
  right: -10px;
}

.portfolio-style-2 .portfolio-card .portfolio-card-footer .info-title a {
  color: #ffffff;
  margin-bottom: 10px;
}

/*Portfolio style 2 normal*/
.portfolio-style-2 .portfolio-card .portfolio-card-footer .full-screen {
  position: absolute;
  bottom: 60px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.portfolio-style-2 .portfolio-card .portfolio-card-footer .info-title {
  position: absolute;
  bottom: 10px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.portfolio-style-2 .portfolio-card .portfolio-card-footer p {
  position: absolute;
  bottom: -20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

/*Portfolio style 2 hover*/
.portfolio-style-2 .portfolio-card:hover .portfolio-card-footer {
  bottom: 0px;
  opacity: 1;
  visibility: visible;
}

.portfolio-style-2 .portfolio-card:hover .portfolio-card-footer .full-screen {
  position: absolute;
  bottom: 90px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.portfolio-style-2 .portfolio-card:hover .portfolio-card-footer .info-title {
  position: absolute;
  bottom: 56px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.portfolio-style-2 .portfolio-card:hover .portfolio-card-footer p {
  position: absolute;
  bottom: 8px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.portfolio-style-2 .portfolio-card .portfolio-card-header {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  border-radius: 0;
}

.portfolio-style-2 .portfolio-card:hover .portfolio-card-header {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.portfolio-style-2 .portfolio-card:hover .portfolio-card-header img {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.portfolio-style-2 .portfolio-card .portfolio-card-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  background: -moz-linear-gradient(150deg, #97c74e 0%, #FF5126 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #97c74e), color-stop(100%, #FF5126));
  background: -webkit-linear-gradient(150deg, #97c74e 0%, #FF5126 100%);
  background: -o-linear-gradient(150deg, #97c74e 0%, #FF5126 100%);
  background: -ms-linear-gradient(150deg, #97c74e 0%, #FF5126 100%);
  background: linear-gradient(150deg, #97c74e 0%, #FF5126 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.portfolio-style-2 .portfolio-card:hover .portfolio-card-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  visibility: visible;
  background: -moz-linear-gradient(150deg, #97c74e 0%, #FF5126 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #97c74e), color-stop(100%, #FF5126));
  background: -webkit-linear-gradient(150deg, #97c74e 0%, #FF5126 100%);
  background: -o-linear-gradient(150deg, #97c74e 0%, #FF5126 100%);
  background: -ms-linear-gradient(150deg, #97c74e 0%, #FF5126 100%);
  background: linear-gradient(150deg, #97c74e 0%, #FF5126 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*portfolio filter*/
.portfolio .nav .nav-tabs {
  border: none;
}

.portfolio .nav .nav-tabs .nav-filter {
  font-weight: 500;
  display: inline-block;
  line-height: 15px;
  padding: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #343a40;
}

.portfolio .nav .nav-tabs .nav-filter:last-child {
  margin-right: 0;
}

.portfolio .nav .nav-tabs .nav-filter.active {
  color: #4cbd89;
}

/*nav-tabs-style-1*/
.portfolio .nav .nav-tabs-style-1 .nav-filter {
  padding: 8px 10px;
  font-size: 0.8125rem;
  border-radius: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.portfolio .nav .nav-tabs-style-1 .nav-filter.active {
  color: #4cbd89;
  border-color: #4cbd89;
}

/*nav-tabs-style-2*/
.portfolio .nav .nav-tabs-style-2 .nav-filter {
  margin-right: 10px;
  padding: 12px 20px;
  font-size: 0.8125rem;
  border-radius: 3px;
  background: #f0f1f3;
}

.portfolio .nav .nav-tabs-style-2 .nav-filter.active {
  color: #ffffff;
  /*background: -moz-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #97c74e), color-stop(100%, #2ab9a5));
  background: -webkit-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -o-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -ms-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );*/
  background: #FF5126;
}

/*nav-tabs-style-3*/
.portfolio .nav .nav-tabs-style-3 {
  border: solid 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: auto;
  border-radius: 40px;
}

.portfolio .nav .nav-tabs-style-3 .nav-filter {
  margin-right: 10px;
  padding: 12px 20px;
  font-size: 0.8125rem;
  border-radius: 3px;
  background: transparent;
  margin-bottom: 0;
}

.portfolio .nav .nav-tabs-style-3 .nav-filter.active {
  border-radius: 40px;
  color: #ffffff;
  background: -moz-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #97c74e), color-stop(100%, #2ab9a5));
  background: -webkit-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -o-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -ms-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
}

/*nav-tabs-style-4*/
.portfolio .nav .nav-tabs-style-4 {
  background: #343a40;
  padding: 5px;
  display: inline-block;
  width: auto;
  border-radius: 40px;
}

.portfolio .nav .nav-tabs-style-4 .nav-filter {
  color: #ffffff;
  margin-right: 10px;
  padding: 12px 20px;
  font-size: 0.8125rem;
  border-radius: 3px;
  background: transparent;
  margin-bottom: 0;
}

.portfolio .nav .nav-tabs-style-4 .nav-filter.active {
  border-radius: 40px;
  color: #ffffff;
  background: -moz-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #97c74e), color-stop(100%, #2ab9a5));
  background: -webkit-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -o-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: -ms-linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
}

/*===============================
             INDEX PORTFOLIO
=================================*/
.personal-portfolio .portfolio-info {
  position: absolute;
  bottom: 0;
  left: 0;
}

.personal-portfolio .portfolio {
  margin-left: -10px;
  margin-right: -10px;
}

.personal-portfolio .personal-portfolio-main {
  padding: 0 6rem;
}

.personal-portfolio .personal-portfolio-profile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
}

.personal-portfolio .portfolio .nav .nav-tabs .nav-filter:first-child {
  padding-left: 0;
}

@media (max-width: 1199.98px) {
  .items-6 .portfolio-card, .items-5 .portfolio-card {
    width: 25%;
  }
  /*home personal portfolio*/
  .personal-portfolio .personal-portfolio-main {
    padding: 0 2rem;
  }
  .personal-portfolio .items-2 .portfolio-card, .personal-portfolio .items-3 .portfolio-card, .personal-portfolio .items-4 .portfolio-card, .personal-portfolio .items-5 .portfolio-card {
    width: 50%;
  }
}

@media (max-width: 991.98px) {
  .portfolio .portfolio-style-2 .portfolio-card .portfolio-card-footer {
    padding: 20px;
  }
  .portfolio-card .portfolio-card-footer .info-title a {
    font-size: 1.09375rem;
  }
  .portfolio-card:hover .portfolio-card-footer p {
    margin-bottom: 0;
  }
  .portfolio-card:hover .portfolio-card-footer .info-title {
    bottom: 30px;
  }
  .personal-portfolio .personal-portfolio-main {
    padding: 0rem;
  }
}

@media (max-width: 767.98px) {
  .items-2 .portfolio-card, .items-3 .portfolio-card, .items-4 .portfolio-card, .items-5 .portfolio-card {
    width: 50%;
  }
  .items-6 .portfolio-card {
    width: 33.333333%;
  }
  .personal-portfolio .personal-portfolio-profile {
    position: relative;
  }
  .personal-portfolio .portfolio-info {
    position: relative;
    padding-top: 300px !important;
  }
  .portfolio .nav .nav-tabs-style-3 {
    border: none;
  }
  .portfolio .portfolio-style-2 .portfolio-card .portfolio-card-footer {
    padding: 20px;
  }
}

@media (max-width: 575.98px) {
  .items-2 .portfolio-card, .items-3 .portfolio-card, .items-4 .portfolio-card, .items-5 .portfolio-card, .items-6 .portfolio-card {
    width: 100%;
  }
  .personal-portfolio .items-2 .portfolio-card, .personal-portfolio .items-3 .portfolio-card, .personal-portfolio .items-4 .portfolio-card, .personal-portfolio .items-5 .portfolio-card, .personal-portfolio .items-6 .portfolio-card {
    width: 100%;
  }
  .portfolio-card .portfolio-card-footer .info-title a {
    font-size: 1.09375rem;
  }
  .portfolio-card:hover .portfolio-card-footer .info-title {
    bottom: 50px;
  }
  .portfolio-card:hover .portfolio-card-footer p {
    margin-bottom: 20px;
  }
  .personal-portfolio .items-padding-inside .portfolio-card {
    padding-left: 0;
    padding-right: 0;
  }
  .personal-portfolio .portfolio {
    margin: 0px;
  }
}

.pl-2, .px-2 {
    padding-left: 0.5rem !important;
}
.pr-2, .px-2 {
    padding-right: 0.5rem !important;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}
.m-0 {
    margin: 0 !important;
}
.justify-content-center {
    justify-content: center !important;
}
img {
    max-width: 100%;
    height: auto;
}